[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.vs/

P5-we-are-live.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
ProjectSettings/HDRPProjectSettings.asset
Assets/CockpitDemoHacked/Assets/Material/Yellow.mat
Assets/CockpitDemoHacked/Assets/Material/WindowGlass_Ceiling.mat
Assets/CockpitDemoHacked/Assets/Material/WindowGlass_0.mat
Assets/CockpitDemoHacked/Assets/Material/WindowGlass.mat
Assets/CockpitDemoHacked/Assets/Material/Window_Horizontal_Pins.mat
Assets/CockpitDemoHacked/Assets/Material/Window_Frames.mat
Assets/CockpitDemoHacked/Assets/Material/Window_Frame_Pins.mat
Assets/CockpitDemoHacked/Assets/Material/Window VST.mat
Assets/CockpitDemoHacked/Assets/Material/white_plastic1.mat
Assets/CockpitDemoHacked/Assets/Material/wheel.mat
Assets/CockpitDemoHacked/Assets/Material/Wall_aluminum_DiamondPattern.mat
Assets/CockpitDemoHacked/Assets/Material/Wall_aluminum Vertical.mat
Assets/CockpitDemoHacked/Assets/Material/Wall_aluminum Horizontal.mat
Assets/CockpitDemoHacked/Assets/Material/Ventilation.mat
Assets/CockpitDemoHacked/Assets/Material/VarjoVertical.mat
Assets/CockpitDemoHacked/Assets/Material/Varjo_VR1_mtl.mat
ProjectSettings/HDRPProjectSettings.asset
Packages/packages-lock.json
ProjectSettings/HDRPProjectSettings.asset
Assets/Editor.meta
Assets/Scenes/Materials.meta
Packages/packages-lock.json
Assets/Textures.meta
Assets/Materials.meta
Assets/Materials.meta
Assets/Textures.meta
Packages/packages-lock.json
ProjectSettings/HDRPProjectSettings.asset
